@tailwind base;
@tailwind components;
@tailwind utilities;

main::-webkit-scrollbar {
  display: none;
}

form::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
